.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
  
}

.nav img{
  float: left;
  width: 25px;
  display: inline-block;
  margin:0px;
  padding:0px;
  padding-top: 40px;
  padding-right: 5px;
  border:none;

}
.nav h1{
  color: black;
  font-size: 50px;
  font-weight: bold;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
 
}
.nav {
  background-color: #f7f7f7;
}


.nav li {
  display: inline;
  
}
.row p{
  font-family: 'Varela', sans-serif;
}

.jumbotron {

  height: 560px;
  width: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size: 12px
  color: black;
  
}


.jumbotron .container {
  float: right;
  /*top:100px;*/
  color: #3385D6;
}

.jumbotron h1 {
  color: white;
  font-size: 30px;  
  font-family: 'Varela', sans-serif;
  padding-left: 200px;
  padding-top: 100px;
}



a:hover {
  color:#2167b6 ;
text-decoration: none ;
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}

.img-circle{
  border-radius: 50%;
}
.bar h2{
  background-color: 909090;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-family: 'Raleway', sans-serif;
}

.animations h2{
    color: #fd9e14;
    font-size:24px;
    display: block;
}